<!DOCTYPE html>
<html class"background-img">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/parallax.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
  </head>
  <body class="landing-page-B background-white">
      {{>_navbar}}
      <div
        class="details-container background parallax"
        style="background-image:url('{{category.background}}'); margin-top: 70px;"
        data-img-width="1600"
        data-img-height="1064"
        data-diff="100"
      >
          <div class="content-a">
              <div class="content-b">
                  <h1>{{category.title}}</h1>
              </div>
          </div>
      </div>
      <div class="gallery">
        {{#each category.images}}
          <a class="image">
            <figure class="photo-inner">
              <img src="{{this.url}}" alt="">
              <div class="photo-overlay">
                <h3 class="photo-overlay__title">{{this.title}}</h3>
                <p class="photo-overlay__description">{{this.description}}</p>
              </div>
            </figure>
          </a>
        {{/each}}
      </div>
      <!-- <section class="photo-container" style="margin-top:70px;">
        {{#each category.images}}
          <div class="photo">
            <div class="photo-inner">
              <img src="{{this.url}}" alt="">
              <div class="photo-overlay">
                <h3 class="photo-overlay__title">{{this.title}}</h3>
                <p class="photo-overlay__description">{{this.description}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </section> -->
      {{>_footer}}
    <script src="/js/parallax.js"></script>
  </body>
</html>
